body{
    font-family: "Gabriela"; 
    font-size: 28px;
    color: black;
    margin: 0;
}

    /* МЕНЮ */

 .menu{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    height: 60px;
    background: #0f7417;
    padding: 10px;
    color: wheat;
    text-decoration: none;

}
    .menu_items{
        display: flex;
        align-self: center;
        width: auto;
        height: auto;
        padding: 25px;
        margin-left: 10px;
        font-size: 18px ;
        text-align: center;
        color: #fff; /* цвет текста */
        background: #0f7417;
        text-decoration: none; /* убирать подчёркивание у ссылок */
        user-select: none; /* убирать выделение текста */
        padding: .7em 1.5em; /* отступ от текста */
        outline: none; /* убирать контур в Mozilla */
        border: 0;
           
    }
    .menu_items:hover { background: #05d413;} /* при наведении курсора мышки */
    .menu_items:active { background: rgb(0, 0, 0); } /* при нажатии */

    a{
        text-decoration: none;
        color: white;
    }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.novigatian{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-right: 100px;    
    margin-left: 100px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: solid 2px green;
    border-radius: 15px;
    margin-top: 50px;
}

.novigatian_items{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 10px;
}




.tattoo_from_VIKING_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
    .round{
        display: flex;
        align-self: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 10px solid #6E6262;
    }

.tattoo_from_VIKING_text{
    padding: 25px;           
    text-align: center;
    font-size: 25px;
}

.hr{
    border: solid 3px green;
    width: 90%;
    margin-top: 50px;
    border-radius: 5px;

}   


    /* ГАЛЕРЕЯ */


    .library .item{
        display: inline-block;
    }
    .library a{
        display: inline-block;
        width: 300px;
    }
    .library img {
        display: inline-block;
        width: 300px;
        height: 400px;
    }