body{
    display: flex;
    flex-direction: column;
    font-family: "Gabriela"; 
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0;
}

/* МЕНЮ */

nav{
    width: 100%;
    background-color:#0f7417;
    justify-content: flex-end;
    text-align: end;
    position: fixed;
}
nav ul li {
    display: inline-block;  
}
nav ul li:hover { background: #05d413;} /* при наведении курсора мышки */
nav ul li:active { background: rgba(17, 61, 21, 0.479); } /* при нажатии */

nav a{
    color: white;
    display:block;
    text-decoration: none;
    padding:10px 30px;
}
.menu-trigger{
    display: none;
    color:#F8ECC2;
}
a{ 
    flex-grow: 1;
    text-decoration: none;
    color: white;
}
    
/* НАВИГАЦИЯ */

.novigatian{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 20px;
    margin: 100px;
    border-radius: 15px;
    justify-content: center;
}
.novigatian_items{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 50px;
    
}
.tattoo_from_VIKING_img1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-image: url(../images/070HiAP7HmY.jpg);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid green;
    background-size: cover;
}
.tattoo_from_VIKING_img1:hover { border-color: #000000d5;} /* при наведении курсора мышки */
.tattoo_from_VIKING_img1:active { border-color: #6d0606d5;} /* при нажатии */

.tattoo_from_VIKING_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-image: url(../images/070HiAP7HmY.jpg);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid rgb(99, 99, 99);
    background-size: cover;
    
}
.tattoo_from_VIKING_img:hover { border-color: #000000d5;} /* при наведении курсора мышки */
.tattoo_from_VIKING_img:active { border-color: #6d0606d5;} /* при нажатии */

.tattoo_from_VIKING_text{
    padding: 5px;           
    text-align: center;
    font-size: 25px;
}

.hr{
    border: solid 3px green;
    width: 90%;
    border-radius: 5px;
}   

/* ГАЛЕРЕЯ */

.library{ 
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.library a{
    flex-grow: 1;
    margin: 5px;
    overflow: hidden;
}
.library img{
    display: inline-block;
    width: 300px;
    height: 400px;
    border-radius: 5px;           
    flex-grow: 1;
}
a{  
    display: flex;
    flex-grow: 1;
}

   /* ДИСПЛЕЙ МЕНЕЕ 800px */

@media screen and (max-width: 800px){
body{
    font-size: 15;
}
    /* MENU */
.menu-trigger {
    display:block;
}
nav ul li {
    display:block;
    border-top:1px #79896D solid;    
}
nav ul {
    display:none;
}
.logotip_text{
    margin-top: 70px;
}

    /* НОВИГАЦИЯ */
.novigatian{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

   /* ДИСПЛЕЙ МЕНЕЕ 400px */

@media screen and (max-width: 800px){

.tattoo_from_VIKING_img1{
    width: 200px;
    height: 200px;
}
.tattoo_from_VIKING_img{
    width: 200px;
    height: 200px;
}
}