body{
    display: flex;
    flex-direction: column;
    font-family: "Gabriela"; 
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0;
}

/* МЕНЮ */

nav{
    width: 100%;
    background-color:#0f7417;
    justify-content: flex-end;
    text-align: end;
    position: fixed;
}
nav ul li {
    display: inline-block;  
}
nav ul li:hover { background: #05d413;} /* при наведении курсора мышки */
nav ul li:active { background: rgba(17, 61, 21, 0.479); } /* при нажатии */

nav a{
    color: white;
    display:block;
    text-decoration: none;
    padding:10px 30px;
}
.menu-trigger{
    display: none;
    color:#F8ECC2;
}
a{ 
    flex-grow: 1;
    text-decoration: none;
    color: white;
}
    
    /*ЗАПИСЬ*/

.zapiss{
    display: flex;
    height: auto;
    margin-left: 10px;
    font-size: 18px;
    width: auto;
    text-align: center;
    color: #fff; /* цвет текста */
    background: #0ebb0893;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border: 0;
    cursor: pointer;
    position: fixed;
    margin-top: 30%;
    align-self: flex-end;
}

/* ГЛАВНЫЙ КОНТЕЙНЕР */

.container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto; 
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}
hr{
    width: 100%;
    border: solid 3px green;
    border-radius: 2px;
}
.style{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.black-write{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    background-image: url("../images/prisse/black-write.jpg");
    background-size: cover;
    flex-grow: 1;
    margin: 5px;
    border: solid 4px green;
    border-radius: 5%;
}
.chikano{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    background-image: url("../images/prisse/chikano.jpg");
    background-size: cover;
    flex-grow: 1;
    margin: 5px;
    border: solid 4px green;
    border-radius: 5%;
}
.dotvork{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    background-image: url("../images/prisse/dotvork.jpg");
    background-size: cover;
    flex-grow: 1;
    margin: 5px;
    border: solid 4px green;
    border-radius: 5%;
}
.items_style{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;    
    margin-left: 10px;
    font-size: 18px ;
    text-align: center;
    color: #fff; /* цвет текста */
    background: green;
    border-radius: 10px;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    cursor: pointer;
    justify-content: center;
}

/* НИЖНЯЯ ПОНЕЛЬ */ 
    
.footar{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: auto;
    height: 200px;
    background: rgb(54, 54, 54);
}
.address_number{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 25px;
    padding: 50px;
    color: white;
}
.text{
    display: flex;
    height: 20%;
    color: white;
    justify-content: center;
    align-items: center;
    background: rgba(95, 95, 95, 0.486);
    font-size: 20px;
}

    /* ДИСПЛЕЙ МЕНЕЕ 800px */

@media screen and (max-width: 800px){
body{
    font-family: "Gabriela";
    font-size: 15;
}
    /* MENU */
.menu-trigger {
    display:block;
}
nav ul li {
    display:block;
    border-top:1px #79896D solid;    
}
nav ul {
    display:none;
}
.style{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footar{
    flex-direction: column;
}
    /* ЗАПИСЬ */
.zapiss{
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    margin: 0;
    position: fixed;
    bottom: 1px;
    font-size: 20px;
}


}